.html body {
    margin: 0;
  }
  
  .formWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .buttonWraper {
      display: inline-flex;
      flex-direction: row;
  }
  
  .submit {
      margin-right: 10px;
  }
  
  .register {
      margin-right: 100px;
  }
  